.about {
  min-height: 100vh;
  padding: 80px;
  background: linear-gradient(to right, #fff5f0, #ffffff);
  font-family: "Poppins", sans-serif;
  display: flex;
  align-items: center;
}

.about-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
  width: 100%;
}

.about-left img {
  width: 450px;
  animation: float 3s ease-in-out infinite;
}

.about-right {
  max-width: 600px;
}

.about-right h1 {
  font-size: 42px;
  margin-bottom: 20px;
  color: #333;
}

.about-right span {
  color: #ff4d4d;
}

.about-right p {
  margin-bottom: 20px;
  font-size: 17px;
  color: #555;
  line-height: 1.6;
}

.about-right button {
  padding: 12px 30px;
  border-radius: 30px;
  border: none;
  background: #ff4d4d;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

.about-right button:hover {
  background: #e60000;
}


